.title{
  color: var(--primary);
  text-align: center;
  box-shadow: 0 3px 0 var(--shadow);
  padding: 16px;
  margin-top: 0;
  font-family: "Exo";
  font-weight: 600;
}

.titleSecondWord {
  color: var(--secondary);
}